// it will hold fonts, colors, color of buttons

$grid-color: #eabe2e;
$nav-color: #262626;
$white: #ffffff;
$plaque-background: rgba(228, 228, 231, 0.3);

header {
  color: white;
  background: linear-gradient(
      to right,
      rgba($nav-color, 0.9),
      rgba($nav-color, 0.3)
    ),
    url("../img/photo.jpg") center top;
  background-size: cover;
}

.helpline {
  background: $grid-color;
}

.nav {
  color: $white;
  position: fixed;
  background-color: $nav-color;
}

.eligible {
  &__box {
    box-shadow: 2px 15px 50px 1.2px rgba(0, 0, 0, 0.2);

    #heading {
      background-color: $nav-color;
      color: white;

      .fade {
        color: rgba(250, 245, 245, 0.8);
      }
    }
  }
}
